.bien{
text-align: center;
background-color: rgb(3, 77, 95);
margin: 20px;
padding: 20px;

color: black;
}

.att{
text-align: center;
background-color: rgb(124, 211, 238);
color: rgb(28, 8, 139);
}

.a{
text-align: center;

}

.b{
text-align: center;


}

.btn{
padding: 10px;
color: black;
margin: 10px;
background-color: dodgerblue;

}

.c{
text-align: center;


}

.body{
background-color: dimgray;


}







